OPENAI_API_KEY=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
HF_API_KEY=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